<h1>Add new Rental</h1>


<form action="/rentals" method="POST">

<label for="bike">Bike:</label>
<select id="bike" name="stock_item_id">


  <option value="" selected disabled>Select a Bike</option>

  <% @stock.each do |item| %>

    <% if item.rented == 't' %>

  <option value="<%=item.id%>"><%= item.manufacturer %> <%= item.name %>
    <%= item.type %></option>

    <% else %>

    <option value="<%=item.id%>"disabled><%= item.manufacturer%>
      <%= item.name%> <%#<%=item.rented%>></option>

    <% end %>
  <% end %>

</select>

<label for="customer">Customer:</label>
<select id="customer" name="customer_id">
  <option value="" selected disabled>Select a Customer</option>
  <% @customers.each do |customer| %>
  <option value="<%= customer.id%>"> <%= customer.first_name %> <%= customer.last_name %></option>
  <% end %>
</select>
<!-- <input type="hidden" name="rented" value="f"> -->
<input type="submit" value="Add New Rental">
</form>
