

<h1>Customers</h1>

<form class="search_customer" action="/customers/search" method="post">
  <input type="search" name="input" placeholder="name">
  <input type="submit" name="button" value="search">
</form>


<form action="/customers/new" method="GET">
  <input class="btn btn--action" type='submit' value="Add New Customer">
</form>
<br>
<br>
<br>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Rental</th>
    <th></th>
    <th></th>
  </tr>
</table>


<% @customers.each do |customer| %>

<table>
  <tr>
    <td><%= customer.first_name %></td>
    <td><%= customer.last_name %></td>
    <% for rental in customer.rental_items %>
    <td><%= rental.name %></td>
    <% end %>
    <td>
      <form  action="/customers/<%=customer.id %>/edit" method="get">
        <input type="submit" name="edit" value="edit">
      </form>
    </td>
    <td>
      <form action="/customers/ <%= customer.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </td>
  </tr>
  <% end %>
</table>
